.frame
  height: 100%
  width: 40%
  position: fixed
  right: 0
  top: 0
.Cars
  width: 100%
  height: 90%
  padding: 30px 100px
  &__filters
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    input
      margin: 0 10px