.LandingPage
  width: 100%
  height: 90%

  //banner

  .banner
    width: 100%
    height: 90%
    padding: 0 150px
    display: flex
    animation: show .6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    flex-direction: column
    @media screen and (max-width: 1060px) 
      padding: 0 50px
    @media screen and (max-width: 800px) 
      padding: 0 10px
    ul
      list-style-type: none
    &__results
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
      z-index: 5
      position: absolute
      left: 0
      width: 100%
      margin-right: 20px
      flex-direction: column
      background-color: white
      padding: 0
      top: 20px
      border-radius: 5px 
      border-bottom-left-radius: 20px
      border-bottom-right-radius: 20px
      display: none
      h4
        color: $textColor
    &__title
      width: 60%
      margin-top: 20px
      animation: show .6s cubic-bezier(0.175, 0.885, 0.32, 1.275)    
    &__search
      background-color: white
      min-height: 200px
      padding: 40px
      width: 50%
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
      border-radius: 3px
      display: flex
      align-items: center
      justify-content: center
      min-width: 550px
      @media screen and (max-width: 1200px) 
        padding: 15px
      .btn
        margin-left: 20px
        width: 20%
        svg
          min-width: 20px
          fill: none
      label
        margin-bottom: 10px
        width: 100%
    &__input
      display: flex
      flex-direction: column
      width: 100%
    &__bottom
      display: flex
      width: 100%
      position: relative
      .typeahead
        height: 100%
      & > div
        width: 80%
        position: relative
      input
        width: 100%
        height: 100%
    .color
      color: $mainColor

  // how to
    
  .HowTo
    width: 100%
    height: 50%
    display: flex
    align-items: center
    flex-direction: column
    padding: 20px 100px
    @media screen and (max-width: 1060px) 
      padding: 20px 50px
    @media screen and (max-width: 800px) 
      padding: 20px 10px
    &__icons
      height: 100%
      display: flex
      justify-content: space-between
    svg
      width: 25%
      path
        fill: $mainColor
    &__option
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      width: 33%
      margin: 0 30px
      h3
        font-weight: 700!important
        margin: 20px 0
      h4
        margin: 0
        font-weight: 400
  //brands
  .Brands
    display: flex
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    &__options
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      white-space: nowrap
    &__option
      display: flex
      justify-content: center
      align-items: center
      border: 2px solid $borderColor
      padding: 10px
      text-transform: uppercase
      margin: 0 10px
      font-weight: 700
      transition: all .5s
      font-size: 13px
      svg
        margin-right: 20px
        width: 20px
        fill: $textColor
      &:hover
        border: 2px solid $mainColor
        cursor: pointer
        svg
          fill: $mainColor
      &.active
         border: 2px solid $mainColor
     