@keyframes showLeftbar
  0%
    right: -50%
  100%
    right: 0
@keyframes hideLeftbar
  0%
    right: 0
  100%
    right: -50%
.Leftbar
  right: 0
  background-color: rgba(255,255,255,.9)
  height: 100%
  width: 100%
  display: flex
  &__content
    width: 100%
    height: 100%
    padding: 100px 20px
    position: relative
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    svg
      position: absolute
      top: 20px 
      right: 20px
      width: 3%
      cursor: pointer
      &:hover
        fill: $mainColor
    img
      max-width: 60%
      height: auto
      margin: 0 auto
  &__info
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    h5
      margin: 0
      font-weight: 400
  &__rent
    margin-top: 50px
    width: 100%
    display: flex
    flex-direction: column
    &>div
      margin: 10px 0
      display: flex
      flex-direction: column
      label
        margin-bottom: 10px
  &__days
    font-weight: 400
    margin: 0
    margin-bottom: 15px