@keyframes showLeftbar
  0%
    right: -50%
  100%
    right: 0
@keyframes hideLeftbar
  0%
    right: 0
  100%
    right: -50%
.frame
  height: 100%
  width: 40%
  position: fixed
  right: 0
.Leftbar
  right: 0
  background-color: black
  height: 100%
  width: 100%
  display: flex
  